{% extends "base.html" %}
{% block title %}Modules - SkolaOne{% endblock %}
{% block content %}
<h1 class="text-center mb-4">Available Modules</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for mod in modules %}
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <i class="fas {{ mod.icon }} fa-2x mb-2 text-primary"></i>
                <h5 class="card-title">
                    <a class="stretched-link text-decoration-none" href="/modules/{{ mod.slug }}/">{{ mod.name }}</a>
                </h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
